body {
    background: linear-gradient(45deg, #66c7ed, #5ecc8c, #66e4ed);
    background-size: 400% 400%;

    animation: movingBackground 10s ease infinite;
    height: 100vh;

    color: white;
    font-family: "Segoe UI";

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*
    Background moving the gradient around
*/
@keyframes movingBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*
    Time
*/
#timeContainer {
    width: 80vw;

    background: linear-gradient(180deg,rgba(133, 133, 133, 0.1) 0%, rgba(207, 207, 207, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 1vh;
    border-style: inset;
    border-width: 0.5vh;

    box-shadow: 10px 10px 50px 0px #ffffff;

    text-align: center;
}

#timeTitle {
    font-size: 4vh;
}

/*
    Top row
*/
#weatherContainerTop {
    margin-top: 3vh;

    display: flex;
    flex-direction: row;
}

#weatherContainerTop>div {
    margin: 0.5vw;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    width: 8vw;
    box-shadow: inset 0 0 10px #ffffff;

    background: linear-gradient(180deg,rgba(133, 133, 133, 0.1) 0%, rgba(207, 207, 207, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);

    border-radius: 1vh;
    border-style: inset;
    border-width: 0.5vh;

    text-align: center;
}

/*
    Bottom row
*/
#weatherContainerBottom {
    display: flex;
    flex-direction: row;
}

#weatherContainerBottom>div {
    margin: 0.5vw;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;

    width: 8vw;
    box-shadow: inset 0 0 10px #ffffff;

    background: linear-gradient(180deg,rgba(133, 133, 133, 0.1) 0%, rgba(207, 207, 207, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 1vh;
    border-style: inset;
    border-width: 0.5vh;

    text-align: center;
}

#emoji {
    font-size: 4vw;
    ;
}