body {
    background: linear-gradient(45deg, #66c7ed, #5ecc8c, #66e4ed);
    background-size: 400% 400%;

    animation: movingBackground 10s ease infinite;
    height: 100vh;

    color:white;
    font-family: "Segoe UI", Arial, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*
    Background moving the gradient around
*/
@keyframes movingBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/*
    Time
*/
#timeContainer{
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1vh;
    border-style: inset;
    border-color: rgba(255, 255, 255, 0.5);

    text-align: center;
}
#timeTitle {
    font-size: 4vh;
}

/*
    Top row
*/
#weatherContainerTop {
    margin-top: 3vh;
    
    display: flex;
    flex-direction: row;
}
#weatherContainerTop > p {
    margin: 0.5vw;
    padding: 1vw;

    width: 8vw;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1vh;
    border-style: inset;
    border-color: rgba(255, 255, 255, 0.5);
}

/*
    Bottom row
*/
#weatherContainerBottom {
    display: flex;
    flex-direction: row;
}
#weatherContainerBottom > p {
    margin: 0.5vw;
    padding: 1vw;

    width: 8vw;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1vh;
    border-style: inset;
    border-color: rgba(255, 255, 255, 0.5);
}

